//-----------------------------------------
//* VARIABLES
//-------------------------------------------*/

// Colors
$col-dark: #252734;
$col-light: #ffffff;

$col-gray-900: #2a2c39;
$col-gray-700: #40424d;
$col-gray-500: #858792;

$col-gray: #ae8700;
$col-gray: #ffa200;