//-----------------------------------------
//* VARIABLES
//-------------------------------------------*/

// Colors
$col-dark: #0d1422;
$col-light: #ffffff;

$col-gray-900: #131622;
$col-gray-100: #ced0d2;

$col-blue: #13223f;


// Layout
$page-header-height: 80px;